<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Artistas</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
  <header class="h-22 p-10 bg-white shadow">
    <h1 class="text-3xl font-semibold">Panel de Administrador</h1>
  </header>

  <div class="flex">
    <aside class="w-50 p-10 bg-white shadow h-screen">
      <nav class="flex flex-col gap-4 text-lg font-medium">
        <a href="/adminUsers" class="hover:text-blue-500">Usuarios</a>
        <a href="/adminArtists" class="hover:text-blue-500">Artistas</a>
        <a href="/adminGenres" class="hover:text-blue-500">Géneros</a>
        <a href="/adminSongs" class="hover:text-blue-500">Canciones</a>
      </nav>
    </aside>

    <section class="flex-1 p-10">
      <div class="p-4 flex justify-between items-center">
        <h1 class="text-3xl font-semibold">Artistas</h1>
        <button onclick="abrirModalAgregar()"
          class="bg-gray-300 p-2 hover:bg-gray-400 rounded shadow cursor-pointer">Agregar</button>
      </div>

      <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
          <thead>
            <tr class="border-b">
              <th class="text-left p-3 px-5">Id</th>
              <th class="text-left p-3 px-5">Nombre</th>
            </tr>
          </thead>

          <tbody id="tabla-artistas">

          </tbody>
        </table>
      </div>
    </section>
  </div>

  <div id="modal-agregar" class="fixed inset-0 backdrop-blur hidden items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-xl font-semibold mb-4">Agregar Artista</h2>

      <form id="form-agregar" enctype="multipart/form-data">
        <label class="block mb-4">
          Nombre
          <input type="text" id="nombre-artista" name="name" class="w-full mt-1 p-2 border rounded" required>
        </label>

        <label class="block mb-4">
          Imagen
          <input type="file" id="imagen-artista" name="image" accept="image/*" class="w-full mt-1 p-2 border rounded"
            required>
        </label>

        <div class="flex justify-end gap-2">
          <button type="button" onclick="cerrarModalAgregar()"
            class="cursor-pointer bg-gray-300 hover:bg-gray-400 px-4 py-2 rounded">Cancelar</button>
          <button type="button" onclick="registerArtist()"
            class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded">Guardar</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/js/ArtistApi.js"></script>
</body>

</html>