<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Géneros</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
  <header class="h-22 p-10 bg-white shadow">
    <h1 class="text-3xl font-semibold">Panel de Administrador</h1>
  </header>

  <div class="flex">
    <aside class="w-50 p-10 bg-white shadow h-screen">
      <nav class="flex flex-col gap-4 text-lg font-medium">
        <a href="#" class="hover:text-blue-500">Usuarios</a>
        <a href="#" class="hover:text-blue-500">Artistas</a>
        <a href="#" class="hover:text-blue-500">Géneros</a>
        <a href="#" class="hover:text-blue-500">Canciones</a>
      </nav>
    </aside>

    <section class="flex-1 p-10">
      <div class="p-4 flex justify-between items-center">
        <h1 class="text-3xl font-semibold">Géneros</h1>
        <button class="bg-gray-300 p-2 hover:bg-gray-400 rounded shadow">Agregar</button>
      </div>

      <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
          <thead>
            <tr class="border-b">
              <th class="text-left p-3 px-5">Id</th>
              <th class="text-left p-3 px-5">Nombre</th>
              <th class="text-left p-3 px-5">Descripción</th>
            </tr>
          </thead>

          <tbody>
            <tr class="border-b hover:bg-orange-100 bg-gray-100">
              <td class="p-3 px-5">1</td>
              <td class="p-3 px-5">Género 1</td>
              <td class="p-3 px-5">Descripción</td>
              <td class="p-3 px-5 flex justify-end">
                <button class="cursor-pointer mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Editar</button>
                <button class="cursor-pointer bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded">Eliminar</button>
              </td>
            </tr>

            <tr class="border-b hover:bg-orange-100 bg-gray-100">
                <td class="p-3 px-5">1</td>
                <td class="p-3 px-5">Género 1</td>
                <td class="p-3 px-5">Descripción</td>
                <td class="p-3 px-5 flex justify-end">
                  <button class="cursor-pointer mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Editar</button>
                  <button class="cursor-pointer bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded">Eliminar</button>
                </td>
              </tr>

              <tr class="border-b hover:bg-orange-100 bg-gray-100">
                <td class="p-3 px-5">1</td>
                <td class="p-3 px-5">Género 1</td>
                <td class="p-3 px-5">Descripción</td>
                <td class="p-3 px-5 flex justify-end">
                  <button class="cursor-pointer mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Editar</button>
                  <button class="cursor-pointer bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded">Eliminar</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</body>

</html>
