<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuarios</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
  <header class="h-22 p-10 bg-white shadow">
    <h1 class="text-3xl font-semibold">Panel de Administrador</h1>
  </header>

  <div class="flex">
    <aside class="w-50 p-10 bg-white shadow h-screen">
      <nav class="flex flex-col gap-4 text-lg font-medium">
        <a href="/adminUsers" class="hover:text-blue-500">Usuarios</a>
        <a href="/adminArtists" class="hover:text-blue-500">Artistas</a>
        <a href="/adminGenres" class="hover:text-blue-500">Géneros</a>
        <a href="/adminSongs" class="hover:text-blue-500">Canciones</a>
      </nav>
    </aside>

    <section class="flex-1 p-10">
      <div class="p-4 flex justify-between items-center">
        <h1 class="text-3xl font-semibold">Usuarios</h1>
      </div>

      <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
          <thead>
            <tr class="border-b">
              <th class="text-left p-3 px-5">Id</th>
              <th class="text-left p-3 px-5">Nombre</th>
              <th class="text-left p-3 px-5">Apellido</th>
              <th class="text-left p-3 px-5">Fecha de Nacimiento</th>
              <th class="text-left p-3 px-5">Teléfono</th>
              <th class="text-left p-3 px-5">Correo</th>
              <th class="text-left p-3 px-5">Acciones</th>
            </tr>
          </thead>

          <tbody id="tabla-usuarios">
            
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/js/UserApi.js"></script>
</body>

</html>
