<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuarios</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <header class="h-22 p-10 bg-white shadow">
    <h1 class="text-3xl font-semibold">Panel de Administrador</h1>
  </header>

  <div class="flex">
    <aside class="w-60 bg-white shadow h-screen flex flex-col">
      <nav class="flex flex-col gap-10 text-lg font-medium mt-20">
        <a href="/adminUsers" class="group flex items-center gap-3 p-4 hover:bg-black duration-200">
          <i data-lucide="users" class="group-hover:text-white text-black"></i>
          <span class="group-hover:text-white text-black">Usuarios</span>
        </a>
        <a href="/adminArtists" class="group flex items-center gap-3 p-4 hover:bg-black duration-200">
          <i data-lucide="mic" class="group-hover:text-white text-black"></i>
          <span class="group-hover:text-white text-black">Artistas</span>
        </a>
        <a href="/adminGenres" class="group flex items-center gap-3 p-4 hover:bg-black duration-200">
          <i data-lucide="list-music" class="group-hover:text-white text-black"></i>
          <span class="group-hover:text-white text-black">Géneros</span>
        </a>
        <a href="/adminSongs" class="group flex items-center gap-3 p-4 hover:bg-black duration-200">
          <i data-lucide="music" class="group-hover:text-white text-black"></i>
          <span class="group-hover:text-white text-black">Canciones</span>
        </a>
      </nav>

      <div class="mt-auto mb-30">
        <button onclick="logout()"
          class="w-full group cursor-pointer flex items-center gap-3 p-4 text-red-600 hover:bg-red-800 duration-200 text-lg font-medium">
          <i data-lucide="log-out" class="group-hover:text-white"></i>
          <span class="group-hover:text-white">Cerrar sesión</span>
        </button>
      </div>
    </aside>

    <section class="flex-1 p-10">
      <div class="p-4 flex justify-between items-center">
        <h1 class="text-3xl font-semibold">Usuarios</h1>
      </div>

      <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
          <thead>
            <tr class="border-b">
              <th class="text-left p-3 px-5">Id</th>
              <th class="text-left p-3 px-5">Nombre</th>
              <th class="text-left p-3 px-5">Apellido</th>
              <th class="text-left p-3 px-5">Fecha de Nacimiento</th>
              <th class="text-left p-3 px-5">Teléfono</th>
              <th class="text-left p-3 px-5">Correo</th>
              <th class="text-left p-3 px-5">Acciones</th>
            </tr>
          </thead>

          <tbody id="tabla-usuarios">
            
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/js/Admin.js"></script>

  <script>
    lucide.createIcons();
  </script>
</body>

</html>
