<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#0a0909]">
    <section>
        <div class="flex justify-center items-center h-screen">
            <div class="lg:w-[40rem] lg:bg-[#111010] 
                        md:w-[35rem] md:bg-[#111010]
                        sm:w-[30rem] sm:bg-[#111010]
                           w-max
                           rounded-4xl">
                <h2 class="lg:text-4xl 
                           md:text-3xl 
                           sm:text-2xl 
                              text-2xl text-center
                              p-10 text-white text-center font-bold">Inicia sesión</h2>
                <form action="" class="lg:pl-10 lg:pr-10 
                                       md:pl-8 md:pr-8 
                                       sm:pl-6 sm:pr-6
                                          pl-2    pr-2
                                          flex flex-col text-white font-semibold">
                    <label for="" class="lg:text-lg md:text-base sm:text-sm pb-4">Correo electrónico</label>
                    <input required class="rounded-sm border-2 border-white mb-6 p-2" type="email" name="correo"
                        placeholder="Correo electrónico">
                    <label for="" class="lg:text-lg md:text-base sm:text-sm pb-4">Contraseña</label>
                    <input required class="rounded-sm border-2 border-white mb-6 p-2" type="password" name="contraseña"
                        placeholder="Contraseña">
                    <button
                        class="lg:text-lg 
                               md:text-base 
                               sm-text-sm
                               bg-white text-black rounded-3xl p-2 mt-6 cursor-pointer hover:scale-110 duration-200 hover:bg-gray-200 font-bold">Iniciar
                        sesión</button>
                    <p class="lg:text-lg md:text-base sm:text-sm text-center mt-6 mb-10">¿No tienes cuenta? Regístrate <a href="registro.html"
                            class="text-blue-600 hover:text-blue-800 underline">aquí</a></p>
                </form>
            </div>
        </div>
    </section>
</body>

</html>