<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#0a0909]">
    <section>
        <div class="flex justify-center items-center p-10 min-h-screen">
            <div class="lg:w-[40rem] md:w-[35rem] sm:w-[30rem] w-full bg-[#111010] rounded-4xl">
                <h2 class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl py-6 sm:p-6 md:p-8 lg:p-10 text-white text-center sm:text-start font-bold">Inicia sesión</h2>
                <form id="form" class="px-4 sm:px-6 md:px-8 lg:px-10 flex flex-col text-white font-semibold">
                    <label for="" class="lg:text-lg md:text-base sm:text-sm pb-4">Correo electrónico</label>
                    <input required class="rounded-sm border-2 border-white mb-6 p-2" type="email" name="email"
                        placeholder="Correo electrónico">
                    <label for="" class="lg:text-lg md:text-base sm:text-sm pb-4">Contraseña</label>
                    <input required class="rounded-sm border-2 border-white mb-6 p-2" type="password" name="password"
                        placeholder="Contraseña">
                    <button
                        onclick="login()"
                        class="lg:text-lg 
                               md:text-base 
                               sm-text-sm
                               bg-[#3228EC] text-white rounded-3xl p-2 mt-6 cursor-pointer hover:scale-105 duration-200 hover:bg-[#1810BA] font-bold">Iniciar
                        sesión</button>
                    <p class="lg:text-lg md:text-base sm:text-sm text-center mt-6 mb-10">¿No tienes cuenta? Regístrate <a href="/registro"
                            class="text-blue-600 hover:text-blue-800 underline">aquí</a></p>
                </form>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/UserApi.js"></script>
</body>
</html>